homeassistant/node-red/flows.json
[{"id":"29fa0e9.84924f2","type":"tab","label":"google-home-mini","disabled":false,"info":""},{"id":"77e3d33c.c8f7cc","type":"tab","label":"OBS","disabled":true,"info":""},{"id":"3f5a9fb8.906da","type":"tab","label":"NOTES","disabled":false,"info":""},{"id":"f326cc36.041e3","type":"tab","label":"OBS Studio","disabled":false,"info":""},{"id":"6d8c6825.af9008","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":false},{"id":"4f5dcf6a.85064","type":"websocket-client","z":"","path":"ws://192.168.20.68:4444","tls":"","wholemsg":"false"},{"id":"e8d7e7c6.08d568","type":"api-call-service","z":"29fa0e9.84924f2","name":"","server":"6d8c6825.af9008","version":1,"debugenabled":true,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.rumpus_room_speaker","data":"{\"message\":\"mary had a little lamb, little lamb, little lamb. Mary had a little lamb, her fleece was white with snow.\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":370,"y":200,"wires":[["90fb6d58.ecc768"]]},{"id":"37ef31f4.5bec7e","type":"inject","z":"29fa0e9.84924f2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":200,"wires":[["e8d7e7c6.08d568"]]},{"id":"90fb6d58.ecc768","type":"debug","z":"29fa0e9.84924f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":300,"wires":[]},{"id":"e4b228ea.17dcb","type":"server-state-changed","z":"29fa0e9.84924f2","name":"","server":"6d8c6825.af9008","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.rumpus_room_speaker","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":230,"y":400,"wires":[["23cebc93.c39fac"]]},{"id":"23cebc93.c39fac","type":"debug","z":"29fa0e9.84924f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":380,"wires":[]},{"id":"93cde1ee.647eb","type":"inject","z":"29fa0e9.84924f2","name":"","topic":"VOLUME","payload":"0.6","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":520,"wires":[["430c100a.935348"]]},{"id":"942a5ae9.5be668","type":"debug","z":"29fa0e9.84924f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":480,"wires":[]},{"id":"430c100a.935348","type":"api-call-service","z":"29fa0e9.84924f2","name":"","server":"6d8c6825.af9008","version":1,"debugenabled":true,"service_domain":"media_player","service":"volume_set","entityId":"media_player.rumpus_room_speaker","data":"{\"volume_level\":0.21}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":560,"wires":[["942a5ae9.5be668"]]},{"id":"a3a310df.23655","type":"http in","z":"29fa0e9.84924f2","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":110,"y":120,"wires":[["b629add2.7de77"]]},{"id":"b2925ff1.d2885","type":"http response","z":"29fa0e9.84924f2","name":"","statusCode":"","headers":{},"x":550,"y":80,"wires":[]},{"id":"b629add2.7de77","type":"template","z":"29fa0e9.84924f2","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hello !","output":"str","x":320,"y":120,"wires":[["b2925ff1.d2885"]]},{"id":"16874d3f.b0d853","type":"comment","z":"29fa0e9.84924f2","name":"","info":"Nodered http in listening on port 1880!","x":140,"y":60,"wires":[]},{"id":"a17e6517.5363b8","type":"inject","z":"77e3d33c.c8f7cc","name":"","topic":"","payload":"{\"request-type\":\"GetSceneList\",\"message-id\":\"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["ed50830f.4bb2a"]]},{"id":"ed50830f.4bb2a","type":"websocket out","z":"77e3d33c.c8f7cc","name":"","server":"","client":"4f5dcf6a.85064","x":460,"y":180,"wires":[]},{"id":"d82f128c.eeac2","type":"debug","z":"77e3d33c.c8f7cc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":360,"wires":[]},{"id":"b5543975.a84678","type":"websocket in","z":"77e3d33c.c8f7cc","name":"","server":"","client":"4f5dcf6a.85064","x":180,"y":260,"wires":[["f9b94193.deba"]]},{"id":"829917e7.f4c268","type":"switch","z":"77e3d33c.c8f7cc","name":"","property":"payload[\"message-id\"]","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":180,"y":360,"wires":[["d82f128c.eeac2","9103db35.4490b8"]]},{"id":"f9b94193.deba","type":"json","z":"77e3d33c.c8f7cc","name":"","property":"payload","action":"","pretty":false,"x":270,"y":300,"wires":[["829917e7.f4c268"]]},{"id":"a3b5a1b4.7733a","type":"api-call-service","z":"77e3d33c.c8f7cc","name":"","server":"6d8c6825.af9008","version":1,"debugenabled":false,"service_domain":"input_select","service":"set_options","entityId":"input_select.obs_scenes","data":"{}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":true,"x":390,"y":460,"wires":[["a1ffad83.508d4"]]},{"id":"9103db35.4490b8","type":"function","z":"77e3d33c.c8f7cc","name":"","func":"const scenes = msg.payload.scenes.map(scene => scene.name);\nconst newmsg = {}\nnewmsg.payload = {data: {\n    options: scenes\n}}\nreturn newmsg;","outputs":1,"noerr":0,"x":140,"y":460,"wires":[["a3b5a1b4.7733a"]]},{"id":"a1ffad83.508d4","type":"debug","z":"77e3d33c.c8f7cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":520,"wires":[]},{"id":"fe125707.f62268","type":"http in","z":"77e3d33c.c8f7cc","name":"OBS REFRESH","url":"/obsrefresh","method":"get","upload":false,"swaggerDoc":"","x":100,"y":80,"wires":[["59bb22c8.99fa3c","abfe779b.98c368"]]},{"id":"27b0badf.9cf6e6","type":"http response","z":"77e3d33c.c8f7cc","name":"","statusCode":"","headers":{},"x":490,"y":80,"wires":[]},{"id":"59bb22c8.99fa3c","type":"template","z":"77e3d33c.c8f7cc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"boo","output":"str","x":300,"y":80,"wires":[["27b0badf.9cf6e6"]]},{"id":"abfe779b.98c368","type":"template","z":"77e3d33c.c8f7cc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"{\"request-type\":\"GetSceneList\",\"message-id\":\"1\"}","output":"json","x":240,"y":140,"wires":[["ed50830f.4bb2a"]]},{"id":"6f93ecf9.93be14","type":"comment","z":"3f5a9fb8.906da","name":"","info":"http://192.168.20.84:1880\n\nNodered http in listening on port 1880 under /endpoint! ","x":200,"y":100,"wires":[]},{"id":"6abead78.c55004","type":"server-events","z":"f326cc36.041e3","name":"","server":"6d8c6825.af9008","event_type":"script_started","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":100,"y":40,"wires":[["6b73cf25.e90ed"]]},{"id":"6b73cf25.e90ed","type":"switch","z":"f326cc36.041e3","name":"","property":"payload.event.name","propertyType":"msg","rules":[{"t":"eq","v":"OBSRefresh","vt":"str"},{"t":"eq","v":"OBSRecord","vt":"str"},{"t":"eq","v":"OBSStop","vt":"str"},{"t":"eq","v":"OBSResetScenes","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":130,"y":140,"wires":[["6aea5744.737cf8"],["bff4aed6.f79c1"],["71127e42.766ea"],[]]},{"id":"6aea5744.737cf8","type":"actionflows","z":"f326cc36.041e3","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"refresh","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"global","perf":false,"seq":false,"x":420,"y":40,"wires":[[]]},{"id":"4852aa83.86ce74","type":"debug","z":"f326cc36.041e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.event.name","targetType":"msg","x":430,"y":540,"wires":[]},{"id":"c0134ffd.9f2fb","type":"actionflows_in","z":"f326cc36.041e3","name":"refresh","priority":"50","links":[],"scope":"global","x":90,"y":560,"wires":[["4852aa83.86ce74","a3d2a257.8233d","519fc111.5a2a2"]]},{"id":"a3d2a257.8233d","type":"actionflows_out","z":"f326cc36.041e3","name":"action out","links":[],"x":460,"y":580,"wires":[]},{"id":"bff4aed6.f79c1","type":"actionflows","z":"f326cc36.041e3","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"record","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"global","perf":false,"seq":false,"x":430,"y":160,"wires":[[]]},{"id":"71127e42.766ea","type":"actionflows","z":"f326cc36.041e3","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"stop","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"global","perf":false,"seq":false,"x":430,"y":220,"wires":[[]]},{"id":"c17c64fb.5e1e58","type":"debug","z":"f326cc36.041e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.event.name","targetType":"msg","x":350,"y":860,"wires":[]},{"id":"a57fe378.5afcc","type":"actionflows_in","z":"f326cc36.041e3","name":"record","priority":"50","links":[],"scope":"global","x":90,"y":920,"wires":[["c17c64fb.5e1e58","6f465017.1c852","d62ca30e.5599a"]]},{"id":"6f465017.1c852","type":"actionflows_out","z":"f326cc36.041e3","name":"action out","links":[],"x":460,"y":940,"wires":[]},{"id":"9ebe959a.50a3f8","type":"debug","z":"f326cc36.041e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.event.name","targetType":"msg","x":390,"y":1100,"wires":[]},{"id":"44ff53cf.58952c","type":"actionflows_in","z":"f326cc36.041e3","name":"stop","priority":"50","links":[],"scope":"global","x":110,"y":1140,"wires":[["9ebe959a.50a3f8","12f77c0c.405ed4","35305d44.d84e62"]]},{"id":"12f77c0c.405ed4","type":"actionflows_out","z":"f326cc36.041e3","name":"action out","links":[],"x":480,"y":1160,"wires":[]},{"id":"5aac0f6e.41d84","type":"actionflows","z":"f326cc36.041e3","info":"Describe your action API here.","untilproptype":"num","proptype":"msg","name":"actionclear","prop":"loop","untilprop":0,"until":"gt","loop":"none","scope":"global","perf":false,"seq":false,"x":100,"y":700,"wires":[["856256fc.366168","5c8384d2.61ca7c"]]},{"id":"856256fc.366168","type":"actionflows_out","z":"f326cc36.041e3","name":"action out","links":[],"x":440,"y":680,"wires":[]},{"id":"5c8384d2.61ca7c","type":"debug","z":"f326cc36.041e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.event.name","targetType":"msg","x":280,"y":760,"wires":[]},{"id":"6ab470e4.e3d63","type":"debug","z":"f326cc36.041e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":300,"wires":[]},{"id":"2030ecde.c96324","type":"websocket in","z":"f326cc36.041e3","name":"","server":"","client":"4f5dcf6a.85064","x":140,"y":340,"wires":[["d3d26bea.9f7848","33eae3b7.f9dd1c"]]},{"id":"4aa33af.b21fdc4","type":"websocket out","z":"f326cc36.041e3","name":"","server":"","client":"4f5dcf6a.85064","x":440,"y":460,"wires":[]},{"id":"519fc111.5a2a2","type":"template","z":"f326cc36.041e3","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"{\"request-type\":\"GetSceneList\",\"message-id\":\"1\"}","output":"json","x":220,"y":500,"wires":[["4aa33af.b21fdc4"]]},{"id":"d3d26bea.9f7848","type":"json","z":"f326cc36.041e3","name":"","property":"payload","action":"","pretty":false,"x":170,"y":400,"wires":[["2b4c246e.1298fc"]]},{"id":"958e922f.2a8ff","type":"function","z":"f326cc36.041e3","name":"","func":"const scenes = msg.payload.scenes.map(scene => scene.name);\nconst newmsg = {}\nnewmsg.payload = {data: {\n    options: scenes\n}}\nreturn newmsg;","outputs":1,"noerr":0,"x":330,"y":400,"wires":[["6ab470e4.e3d63","2188386a.10e9f8"]]},{"id":"2188386a.10e9f8","type":"api-call-service","z":"f326cc36.041e3","name":"","server":"6d8c6825.af9008","version":1,"debugenabled":false,"service_domain":"input_select","service":"set_options","entityId":"input_select.obs_scenes","data":"{}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":true,"x":500,"y":360,"wires":[["6ab470e4.e3d63"]]},{"id":"2b4c246e.1298fc","type":"switch","z":"f326cc36.041e3","name":"","property":"payload[\"message-id\"]","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":440,"wires":[["958e922f.2a8ff"]]},{"id":"60d75398.27821c","type":"server-events","z":"f326cc36.041e3","name":"","server":"6d8c6825.af9008","event_type":"state_changed","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":140,"y":1300,"wires":[["bce74f59.78c8b"]]},{"id":"bce74f59.78c8b","type":"switch","z":"f326cc36.041e3","name":"","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"input_select.obs_scenes","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":1300,"wires":[["7f5fbd5a.512884"]]},{"id":"7f5fbd5a.512884","type":"change","z":"f326cc36.041e3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.event.new_state.state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1380,"wires":[["6e6716a1.9bcd78"]]},{"id":"6e6716a1.9bcd78","type":"template","z":"f326cc36.041e3","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"request-type\":\"SetCurrentScene\",\"message-id\":\"20\", \"scene-name\":\"{{payload}}\"}","output":"json","x":340,"y":1460,"wires":[["615ce588.ece09c","f5d1e5b0.f857d8"]]},{"id":"615ce588.ece09c","type":"websocket out","z":"f326cc36.041e3","name":"","server":"","client":"4f5dcf6a.85064","x":200,"y":1720,"wires":[]},{"id":"f5d1e5b0.f857d8","type":"debug","z":"f326cc36.041e3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":380,"y":1680,"wires":[]},{"id":"33eae3b7.f9dd1c","type":"debug","z":"f326cc36.041e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":280,"wires":[]},{"id":"d62ca30e.5599a","type":"template","z":"f326cc36.041e3","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"request-type\":\"StartRecording\",\"message-id\":\"20\"}","output":"json","x":220,"y":1040,"wires":[["615ce588.ece09c"]]},{"id":"35305d44.d84e62","type":"template","z":"f326cc36.041e3","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"request-type\":\"StopRecording\",\"message-id\":\"20\"}","output":"json","x":260,"y":1200,"wires":[["615ce588.ece09c"]]}]
