homeassistant/node-red/flows.json
[{"id":"29fa0e9.84924f2","type":"tab","label":"google-home-mini","disabled":false,"info":""},{"id":"e14379b4.394c58","type":"tab","label":"mqtt","disabled":false,"info":""},{"id":"6d8c6825.af9008","type":"server","z":"","name":"Home Assistant","addon":true},{"id":"5474b40c.ce4bec","type":"server","z":"","name":"Home Assistant From VNC","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"7f455cf8.440a14","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e8d7e7c6.08d568","type":"api-call-service","z":"29fa0e9.84924f2","name":"","server":"6d8c6825.af9008","version":1,"debugenabled":true,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.rumpus_room_speaker","data":"{\"message\":\"mary had a little lamb, little lamb, little lamb. Mary had a little lamb, her fleece was white with snow.\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":370,"y":200,"wires":[["90fb6d58.ecc768"]]},{"id":"37ef31f4.5bec7e","type":"inject","z":"29fa0e9.84924f2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":200,"wires":[["e8d7e7c6.08d568"]]},{"id":"90fb6d58.ecc768","type":"debug","z":"29fa0e9.84924f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":300,"wires":[]},{"id":"e4b228ea.17dcb","type":"server-state-changed","z":"29fa0e9.84924f2","name":"","server":"6d8c6825.af9008","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.rumpus_room_speaker","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":230,"y":400,"wires":[["23cebc93.c39fac"]]},{"id":"23cebc93.c39fac","type":"debug","z":"29fa0e9.84924f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":380,"wires":[]},{"id":"93cde1ee.647eb","type":"inject","z":"29fa0e9.84924f2","name":"","topic":"VOLUME","payload":"0.6","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":520,"wires":[["430c100a.935348"]]},{"id":"942a5ae9.5be668","type":"debug","z":"29fa0e9.84924f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":480,"wires":[]},{"id":"430c100a.935348","type":"api-call-service","z":"29fa0e9.84924f2","name":"","server":"6d8c6825.af9008","version":1,"debugenabled":true,"service_domain":"media_player","service":"volume_set","entityId":"media_player.rumpus_room_speaker","data":"{\"volume_level\":0.21}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":560,"wires":[["942a5ae9.5be668"]]},{"id":"a3a310df.23655","type":"http in","z":"29fa0e9.84924f2","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":110,"y":120,"wires":[["b629add2.7de77"]]},{"id":"b2925ff1.d2885","type":"http response","z":"29fa0e9.84924f2","name":"","statusCode":"","headers":{},"x":550,"y":80,"wires":[]},{"id":"b629add2.7de77","type":"template","z":"29fa0e9.84924f2","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hello !","output":"str","x":320,"y":120,"wires":[["b2925ff1.d2885"]]},{"id":"16874d3f.b0d853","type":"comment","z":"29fa0e9.84924f2","name":"","info":"Nodered http in listening on port 1880!","x":140,"y":60,"wires":[]},{"id":"15cfab2f.37f095","type":"ha-api","z":"e14379b4.394c58","name":"","server":"6d8c6825.af9008","debugenabled":true,"protocol":"http","method":"post","path":"/api/states/switch.garagedoor","data":"{    \"state\": \"open\",}","dataType":"json","location":"payload","locationType":"msg","responseType":"json","x":260,"y":120,"wires":[["edb5e411.e0efd8"]]},{"id":"1bc7114f.13aa0f","type":"inject","z":"e14379b4.394c58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":60,"wires":[["15cfab2f.37f095"]]},{"id":"edb5e411.e0efd8","type":"debug","z":"e14379b4.394c58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":180,"wires":[]},{"id":"72bfedf6.242c14","type":"mqtt in","z":"e14379b4.394c58","name":"","topic":"boo","qos":"2","datatype":"auto","broker":"7f455cf8.440a14","x":90,"y":280,"wires":[["97b34dfd.0f594"]]},{"id":"5a03ad74.273464","type":"mqtt out","z":"e14379b4.394c58","name":"","topic":"boo","qos":"","retain":"","broker":"7f455cf8.440a14","x":390,"y":380,"wires":[]},{"id":"5dd2492d.fc8728","type":"inject","z":"e14379b4.394c58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":380,"wires":[["5a03ad74.273464"]]},{"id":"97b34dfd.0f594","type":"debug","z":"e14379b4.394c58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":400,"y":300,"wires":[]},{"id":"3222130c.5fcc2c","type":"comment","z":"e14379b4.394c58","name":"Mosquitto on Raspbian","info":"sudo apt install -y mosquitto \n\nie. mosquitto is running on raspbian","x":200,"y":500,"wires":[]}]