homeassistant/node-red/flows.json
[{"id":"29fa0e9.84924f2","type":"tab","label":"google-home-mini","disabled":false,"info":""},{"id":"77e3d33c.c8f7cc","type":"tab","label":"OBS","disabled":false,"info":""},{"id":"6d8c6825.af9008","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":false},{"id":"4f5dcf6a.85064","type":"websocket-client","z":"","path":"ws://192.168.20.68:4444","tls":"","wholemsg":"false"},{"id":"e8d7e7c6.08d568","type":"api-call-service","z":"29fa0e9.84924f2","name":"","server":"6d8c6825.af9008","version":1,"debugenabled":true,"service_domain":"tts","service":"google_translate_say","entityId":"media_player.rumpus_room_speaker","data":"{\"message\":\"mary had a little lamb, little lamb, little lamb. Mary had a little lamb, her fleece was white with snow.\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":370,"y":200,"wires":[["90fb6d58.ecc768"]]},{"id":"37ef31f4.5bec7e","type":"inject","z":"29fa0e9.84924f2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":200,"wires":[["e8d7e7c6.08d568"]]},{"id":"90fb6d58.ecc768","type":"debug","z":"29fa0e9.84924f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":300,"wires":[]},{"id":"e4b228ea.17dcb","type":"server-state-changed","z":"29fa0e9.84924f2","name":"","server":"6d8c6825.af9008","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.rumpus_room_speaker","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":230,"y":400,"wires":[["23cebc93.c39fac"]]},{"id":"23cebc93.c39fac","type":"debug","z":"29fa0e9.84924f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":380,"wires":[]},{"id":"93cde1ee.647eb","type":"inject","z":"29fa0e9.84924f2","name":"","topic":"VOLUME","payload":"0.6","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":520,"wires":[["430c100a.935348"]]},{"id":"942a5ae9.5be668","type":"debug","z":"29fa0e9.84924f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":480,"wires":[]},{"id":"430c100a.935348","type":"api-call-service","z":"29fa0e9.84924f2","name":"","server":"6d8c6825.af9008","version":1,"debugenabled":true,"service_domain":"media_player","service":"volume_set","entityId":"media_player.rumpus_room_speaker","data":"{\"volume_level\":0.21}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":560,"wires":[["942a5ae9.5be668"]]},{"id":"a3a310df.23655","type":"http in","z":"29fa0e9.84924f2","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":110,"y":120,"wires":[["b629add2.7de77"]]},{"id":"b2925ff1.d2885","type":"http response","z":"29fa0e9.84924f2","name":"","statusCode":"","headers":{},"x":550,"y":80,"wires":[]},{"id":"b629add2.7de77","type":"template","z":"29fa0e9.84924f2","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hello !","output":"str","x":320,"y":120,"wires":[["b2925ff1.d2885"]]},{"id":"16874d3f.b0d853","type":"comment","z":"29fa0e9.84924f2","name":"","info":"Nodered http in listening on port 1880!","x":140,"y":60,"wires":[]},{"id":"a17e6517.5363b8","type":"inject","z":"77e3d33c.c8f7cc","name":"","topic":"","payload":"{\"request-type\":\"GetSceneList\",\"message-id\":\"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["ed50830f.4bb2a"]]},{"id":"ed50830f.4bb2a","type":"websocket out","z":"77e3d33c.c8f7cc","name":"","server":"","client":"4f5dcf6a.85064","x":420,"y":80,"wires":[]},{"id":"d82f128c.eeac2","type":"debug","z":"77e3d33c.c8f7cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":360,"wires":[]},{"id":"b5543975.a84678","type":"websocket in","z":"77e3d33c.c8f7cc","name":"","server":"","client":"4f5dcf6a.85064","x":180,"y":260,"wires":[["f9b94193.deba"]]},{"id":"829917e7.f4c268","type":"switch","z":"77e3d33c.c8f7cc","name":"","property":"payload[\"message-id\"]","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":180,"y":360,"wires":[["d82f128c.eeac2","9103db35.4490b8"]]},{"id":"f9b94193.deba","type":"json","z":"77e3d33c.c8f7cc","name":"","property":"payload","action":"","pretty":false,"x":270,"y":300,"wires":[["829917e7.f4c268"]]},{"id":"a3b5a1b4.7733a","type":"api-call-service","z":"77e3d33c.c8f7cc","name":"","server":"6d8c6825.af9008","version":1,"debugenabled":false,"service_domain":"input_select","service":"set_options","entityId":"input_select.obs_scenes","data":"{}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":true,"x":390,"y":460,"wires":[["a1ffad83.508d4"]]},{"id":"9103db35.4490b8","type":"function","z":"77e3d33c.c8f7cc","name":"","func":"const scenes = msg.payload.scenes.map(scene => scene.name);\nconst newmsg = {}\nnewmsg.payload = {data: {\n    options: scenes\n}}\nreturn newmsg;","outputs":1,"noerr":0,"x":140,"y":460,"wires":[["a3b5a1b4.7733a"]]},{"id":"a1ffad83.508d4","type":"debug","z":"77e3d33c.c8f7cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":520,"wires":[]}]
